*  {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    margin: 0;
}

.container {
    background-color: #1f2428;
    color: #f8f8f8;
    height: 550px;
}

ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

a {
    text-decoration: none;
    color: #f8f8f8;
}

.banner button {
    background-color: #029ce3;
    padding: 8px 24px;
    border: 0;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
}

.banner button:hover {
    background-color: #00a6f2;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0px 200px;
    font-size: 18px;
}

img {
    width: 550px;
    height: 270px;
}

.banner {
    display: flex;
    justify-content: space-between;
    padding: 80px 200px;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    
}

.menu a:link, .menu a:visited {
    color: #dbdcdc;
}

.menu a:hover, .menu a:active {
    color: #f8f8f8;
}

.hero-main {
    font-size: 48px;
    font-weight: 700;
    margin: 0;
}

.hero-text {
    font-size: 18px;
    color: #dbdcdc;
    margin: 0;
}

.banner-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    width: 400px;
}

.body h2 {
    display: flex;
    justify-content: center;
    padding: 30px;
    font-size: 36px;
    font-weight: bold;
    color: #1f2428;
}

.icon {
    display: flex;
    justify-content: center;
    gap: 110px;
    padding-bottom: 140px;
}

.icon li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    color: #4a90e2;
}

svg * {
    fill: #4a90e2;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
    font-size: 34px;
    text-align: justify;
    font-weight: 300;
    background-color: #e5e7eb;
    color: #303130;
}

.quote p {
  width: 620px;  
}

.quote cite {
    align-self: flex-end;
    font-size: 22px;
    font-weight: bold;
    margin-right: 280px;
    color: #303130;
}

.rect {
    display: flex;
    justify-content: center;
    margin: 100px;
}

.cta-container {
    background-color: #029ce3;
    width: 80%;
    height: 150px;
    border-radius: 8px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cta-container button {
    background-color: #029ce3;
    padding: 8px 32px;
    border: 2px;
    border-style: solid;
    border-color: #e5e7eb;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
}

.cta-container a {
    color: #e5e7eb;
}

.cta-container a:hover {
    color: #fff;
}

.cta-container h3 {
    font-size: 24px;
    margin-bottom: 5px;
    color: #F8F8F8;
}

.cta-container p {
    font-size: 18px;
    margin-top: 5px;
    color: #e5e7eb;
}

footer {
    background-color: #1f2428;
    color: #dbdcdc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}





